
*
{
  color: black;
  box-sizing: border-box;
  font-family: Arial;
  font-size: 15px;

  
}

.Enlace
{
  width: 13px;
  filter: invert(0.4) sepia(1) hue-rotate(20deg) saturate(1000%);
}
.iconos
{
  width: 13px;
  
}


h1
{
color: black;
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 40px;
  margin-bottom: 0px;
}

h2
{
  color:  #303030;

  margin-top: 0px;
  margin-bottom: 30px;
}
h3
{
  color: #2b7c91;
  text-transform: uppercase;

  

}
.temas
{
  display: inline;
}


hr {
  flex: 0 0 100%;
}

b{
  color: black;
}

.BotonVerMas
{
  align-content: flex-end;
}
nav
{
  position: fixed;
  z-index: 1;


  background: #303030;
  margin: 0px;
  padding: 0%;
 
  height: 50px;
  width: 100%;
  float: left;
}

html{
  margin-bottom:  50px;
}

.apellidos
{
  margin-top: 0px;
    color: white;
}

.Horizontal{

font-size: 10px;
margin:0;
padding:0;
padding-top: 10px;
}
.Horizontal li{
color: white;
font-size: 12px;

}
.clr{
  clear:both;
}
.Horizontal li{

display:block;
float:left;
padding-left:0px;
padding-right: 35px;
}

 ul
{
  padding: 0px;
  list-style: none;
}

.principal
{
  padding-left:  3%;
  padding-right:  3%;
  

  padding-top: 50px;

}
body
{
  margin: 0;
  height: 400px;
  width: 100%;
  background: #303030;
  

}

.Foto
{

  width: 200px;
  border: 0px solid white;
  border-radius: 50%;
  margin: 75px 0px;
  background-color: white;
  
  transition:  transform .5s;
}

.Foto:hover
{
  transform: scale(1.1);
}

.RedSocial:hover
{
  transform: scale(1.1);
  
}

.LadoDerecho
{
  text-align: center;
  margin: 0px;
  padding: 0%;
  width: 30%;
  float: left;

}

.LadoIzquierdo
{
  margin:  0px;
  width: 70%;
  float: left;
  padding: 60px;
  
}
.RedesSosiales
{
  padding-right: 5%;
  float: right;
}

.RedSocial
{
  float: left;
  padding-top: 12px;
  padding-right: 10px;
}
#Perfil
{
  background: #2b7c91;
  height: 350px;

  border-top-left-radius: 15px;
}
#Informacion
{

  background: #2b7c91;
  height: 350px;
  border-top-right-radius: 15px;
}
#SobreMi
{

  line-height:260px;
  background: rgb(250,250,250);
  margin: 0px;
  height: 260px;
  width: 30%;
  float: left;
}


#Descripcion
{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: justify;
  background: rgb(240,240,240);

  height: 260px;
  width: 70%;

  align-items: center;
}
#Educacion
{

  line-height:400px;
  background: rgb(240,240,240);
  margin: 0px;
  height: 400px;
  width: 30%;
  float: left;
}
#Escuelas
{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: justify;
  background: rgb(250,250,250);
  height: 400px;
  width: 70%;

  align-items: center;
}

#ExperienciaLaboral
{

  line-height:550px;
  background: rgb(250,250,250);
  margin: 0px;
  height: 550px;
  width: 30%;
  float: left;
}
#Trabajos
{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: justify;
  background: rgb(240,240,240);
  height: 550px;
  width: 70%;

  align-items: center;
}

#HabilidadesPersonales
{

  line-height:1000px;
  background: rgb(240,240,240);
  margin: 0px;
  height: 1000px;
  width: 30%;
  float: left;

  border-bottom-left-radius: 15px;
}
#Habilidades
{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: justify;
  background: rgb(250,250,250);
  height: 1000px;
  width: 70%;

  align-items: center;

  border-bottom-right-radius: 15px;
}


.Contenedor img
{


  width: 100%;
}
.Contenedor
{

  width: 40%;
  position: relative;
  overflow: hidden;
  border: 4px solid rgb(240,240,240);;
}
.Subtema h1
{

  color: #2b7c91;
background: white;
}
h4
{
  font-size: 13px;
  color:white;
  text-transform: uppercase;
}
.PortafolioTexto p{
  font-size: 12px;
color:  white;
text-align: justify;
}
.PortafolioTexto
{
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  transform: translateY(100%);
  transition: all 0.5s ease-out
}

.Contenedor:hover .PortafolioTexto
{
  transform: translateY(0%);
}















@media (min-width: 0px) and (max-width: 950px)  {

  h1
  {
    color: black;
    margin-top: 60px;
    margin-bottom: 0px;
    font-size: 35px;
    margin-bottom: 0px;
    text-align: center;
  }

  h2
  {
      color:  #303030;
    font-size: 13px;
    margin-top: 0px;
    margin-bottom: 30px;
    text-align: center;
  }

  h3
  {
    margin-top:   30px;
      line-height: normal;
  }

  .Horizontal li{
    color: white;
    font-size: 9px;
  display:block;
text-align: center;
padding-left: 7px;
padding-right: 7px;
}
.Horizontal b
{
  font-size: 12px;
}

*
{
  color: black;
  box-sizing: border-box;
  font-family: Arial;
  font-size: 12px;
}

.principal
{
  padding-top: 50px;
 
}


  .Foto
  {

    width: 200px;
    border: 0px solid white;
    border-radius: 50%;
    margin: 150px 0px;
    background-color: white;
  }
  .LadoDerecho
  {

    text-align: center;
    margin: 0px;
    padding: 0%;
    width: 100%;
    border-radius: 0px;
    
    
  }
#Datos
{
  display: flex;
  justify-content: center;
}
  .LadoIzquierdo
  {

    margin:  0px;
    width: 100%;

    padding: 30px;

    border-radius: 0px;
    
  }

  #SobreMi
  {



    margin: 0px;
    height: 50px;
    width: 100%;


  }
#Perfil
{
  border-top-right-radius: 15px;
}

  #Descripcion
  {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: justify;


    height: 280px;
    width: 100%;

    align-items: center;
    
  }

  #Informacion
  {
    border-radius: 0%;

  }


  #Educacion
  {
      background: rgb(250,250,250);
    line-height:400px;

    margin: 0px;
    height: 50px;
    width: 100%;

  }
  #Escuelas
  {
    background: rgb(240,240,240);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: justify;

    height: 400px;
    width: 100%;

    align-items: center;
  }

  #ExperienciaLaboral
  {

    line-height:550px;
    background: rgb(250,250,250);
    margin: 0px;
    height: 50px;
    width: 100%;
    float: left;
  }
  #Trabajos
  {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: justify;
    background: rgb(240,240,240);
    height: 580px;
    width: 100%;

    align-items: center;
  }
  #HabilidadesPersonales
  {

    line-height:1000px;
    background: rgb(250,250,250);
    margin: 0px;
    height: 50px;
    width: 100%;
    border-radius: 0%;

  }
  #Habilidades
  {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align:left;
    background: rgb(240,240,240);
    height: 1000px;
    width: 100%;

    align-items: center;

    border-radius: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }


}
